@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,500&display=swap');
 
 :root {
    --blue: #3454D1;
    --wine: #69353F;
    --green: #758173;
    --bittersweets: #F87060;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #ff1919;
   
    --font-family: "Montserrat", "Roboto", sans-serif;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


ul li {
    font-weight: bold;
    font-size: .9rem;
    position: relative;
}

.header-navbar-list li:not(:first-child):after, .sign-in-up li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--wine);
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s ease-in-out;
}

.header-navbar-list li:hover:not(:first-child):after, .sign-in-up li:hover::after {
    transform: scaleX(100%);
}


/* Estilos del header */
.header-container {
    padding: 1.5em 2.5em;
    box-shadow: 5px 5px 20px 3px #0001;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.header-navbar, .header-navbar-list, .sign-in-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.header-navbar-list, .sign-in-up {
    list-style: none;
}

.sign-in-up {
    width: 18%;
}

.header-navbar-list li:first-child {
    margin-right: auto;
    font-size: 1.2rem;
}

/* ----------------- */


/* Menú de barras para vista móvil */
.hamburger-menu {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 5%;
    top: 20px;
    margin-bottom: 4rem;
    border: none;
    outline: none;
    padding: .3em .6em;
    font-size: 1.8rem;
    background-color: #fff;
    box-shadow: 5px 2px 40px 2px #0003;
    cursor: pointer;
    border-radius: 10px;
}

.hamburger-menu i {
    transition: all 0.3s ease-in-out;
    z-index: 100000;
}
/* ------------------ */





/* Footer */
footer {
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #2a3132;
    padding: 1rem;
}
/* ------------ */




/* Empleados */
.form-empleados {
    display: flex;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 35.7rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 2em;
    padding: 4em;
    box-shadow: 0 5px 15px  #0002;
    border-radius: 20px;
    position: relative;
}

input {
    border: none;
    background: #eee;
    border-radius: 20px;
    padding: 1em 1.2em;
    width: 40%;
    outline: none;
}

.form-empleados h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.form-empleados button {
    border: none;
    outline: none;
    background: var(--blue);
    color: #fff;
    padding: .5em 3em;
    font-weight: bold;
    margin-top: 6rem;
    font-size: 1.7rem;
    border-radius: 40px;
    cursor: pointer;
    transition: transform .4s ease-in;
    box-shadow: 3px 8px #000;
}

.form-empleados button:hover {
    transform: translateY(-10%) scale(1.01);
}

.empleados-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;    
    margin-bottom: 47.3rem;
    width: 80%;
    flex-wrap: wrap;
    gap: 2rem;
}

.empleado {
    min-width: 280px;
    padding: 2em 3em;
    width: 30%;
    min-height: 190px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    background: var(--green);
    color: #fff;
    border-radius: 15px;
    position: relative;
}

.opciones {
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(4px) brightness(75%);
    padding: 2em;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    transition: opacity .4s ease-in-out;
}

.opciones .delete-empleado, .edit-empleado{
    border: 3px solid var(--danger);
    border-radius: 30px;
    padding: .4em .6em;
}

.delete-empleado i {
    color: var(--danger);
    font-size: 1.5rem;
}

.opciones .edit-empleado  {
    border: 3px solid var(--blue);
}

.edit-empleado i {
    color: var(--blue);
    font-size: 1.5rem;
}

.empleado:hover .opciones {
    opacity: 1;
}

.opciones-empleado {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}
.opciones-empleado a {
    /* background: var(--blue); */
    background-color: #fff;
    padding: 1em 2.5em;
    /* color: #fff; */
    color: #000;
    border-radius: 25px;
    font-size: 1.2rem;
    box-shadow: inset 0 0 0 #0000, 6px 6px 15px 2px #0002;
    transition: all .3s ease-in;
}

.opciones-empleado a:hover {
    box-shadow: inset 0 0 15px 2px #0002, 0 0 0 #0000;
}

.opciones-empleado a:active {
    box-shadow: inset 0 0 15px 7px #0002, 0 0 0 #0000;
}


/* -------------------- */

/* Botón de atrás */
.atras {
    font-size: 1.5rem;
    align-self: flex-start;
    margin-bottom: 1.5rem;
}
/* ------------------- */

/*PROYECTOS*/


/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}




/*--------------------*/


/* Vista adaptada para teléfonos */
@media (max-width: 800px) {
    .hamburger-menu.close + .header {
        transform: translateX(-100%);
        transition: transform .7s ease-in-out;
    }
    
    .hamburger-menu.close + .header .header-container .header-navbar {
        transform: translateX(-100%);
    } 

    .hamburger-menu.close + .header .header-container::after {
        transform: translateX(-120%);
        opacity: 0;
    }


    .header {
        width: 20%;
        min-width: 270px;
        min-height: 100vh;
        position: fixed;
        z-index: 100;
        transform: translateX(0);
        transition: transform .7s ease-in-out;
    }

    .header-container::after {
        content: "";
        width: 200%;
        position: absolute;
        right: -200%;
        top: 0;
        height: 100%;
        backdrop-filter: blur(5px);
        transform: translateX(0);
        opacity: 1;
        z-index: -10;
        transition: all .7s ease-in-out;
    }
    
    .header-container {
        width: 100%;
        position: relative;
        background-color: #fff;
        min-width: 250px;
        min-height: 100vh;
        justify-content: flex-start;
        flex-direction: column;
        padding: 1em 2em;
    }
    
    .header-navbar {
        flex-direction: column; 
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        transition: transform .7s ease-in-out;
    }

    .hamburger-menu {
        display: inline;        
    }
    
    .header-navbar-list, .sign-in-up {
        flex-direction: column;
        gap: 2rem;
    }

    .sign-in-up {
        margin-top: auto;
        width: 100%;
        height: 200px;
    }


    .header-navbar-list li:first-child {
        margin-bottom: 2.5rem;
        margin-top: 6rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .empleados-container {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 10rem;
    }

    .form-empleados {
        width: 80%;
    }

    .form-empleados input {
        width: 80%;
    }

    .empleado {
        width: 80%;
    }

    .empleado:first-child {
        margin-top: 10rem;
    }
     
}
