@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,500&display=swap');

:root {
    --blue: #3454D1;
    --wine: #69353F;
    --green: #758173;
    --bittersweets: #F87060;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #ff1919;

    --font-family: "Montserrat", "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


ul li {
    font-weight: bold;
    font-size: .9rem;
    position: relative;
}

.header-navbar-list li:not(:first-child)::after, .sign-in-up li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--wine);
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s ease-in-out;
}

.header-navbar-list li:hover:not(:first-child):after, .sign-in-up li:hover::after {
    transform: scaleX(100%);
}


/* Estilos del header */
.header-container {
    padding: 1.5em 2.5em;
    box-shadow: 5px 5px 20px 3px #0001;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.header-navbar, .header-navbar-list, .sign-in-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.header-navbar-list, .sign-in-up {
    list-style: none;
}

.sign-in-up {
    width: 18%;
}

.header-navbar-list li:first-child {
    margin-right: auto;
    font-size: 1.2rem;
}

/* ----------------- */


/* Menú de barras para vista móvil */
.hamburger-menu {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 5%;
    top: 20px;
    margin-bottom: 4rem;
    border: none;
    outline: none;
    padding: .3em .6em;
    font-size: 1.8rem;
    background-color: #fff;
    box-shadow: 5px 2px 40px 2px #0003;
    cursor: pointer;
    border-radius: 10px;
}

.hamburger-menu i {
    transition: all 0.3s ease-in-out;
    z-index: 100000;
}
/* ------------------ */

/* Footer */
footer {
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #2a3132;
    padding: 1rem;
}
/* ------------ */


/* Logout header */

.logout-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
}

.logout-header::after {
   content: none !important;
}

.logout-header i, .logout-header {
    font-size: 1rem;
}

/* ------------------ */

/*formulario usuarios*/

select {
    padding: 1em 1.2em;
    border: none;
    border-radius: 20px;
    width: 50%;
    background-color: #eee;
    cursor: pointer;
    appearance: none;
}

.form-usuarios .botones-roles-usuarios {
    border: none;
    outline: none;
    background: var(--blue);
    color: #fff;
    padding: .5em 3em;
    font-weight: bold;
    margin-top: -1rem;
    font-size: 1rem;
    border-radius: 40px;
    cursor: pointer;
    transition: transform .4s ease-in;
    box-shadow: 1.5px 4px #000;
    width: fit-content;
}
.botones-roles-usuarios.agregar {
    background-color: var(--success);
}

.botones-roles-usuarios.eliminar {
    background-color: var(--danger);
}


.password-container {
    border: none;
    background: #eee;
    border-radius: 20px;
    padding: .83em 1.2em;
    width: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-container input {
    min-width: 80%;
    background: #eee;
    border-radius: 20px;
    border: none;
    outline: none;
}

.password-container i {
    cursor: pointer;
}


/* ----------------- */


.buton-select-rol{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.role-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 0 10px;
    border: 1px solid #000;
    background-color: #fff;
    transition: background-color 0.3s;
}

.role-btn:hover {
    background-color: #000;
    color: #fff;
}

.role-icon {
    font-size: 24px;
    padding: 10px;
    align-items: center;
}

/* ------------ */

/* Empleados */
.form-empleados, .form-rol, .form-usuarios {
    display: flex;
    margin: 0 auto;
    margin-bottom: 35.7rem;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 2em;
    padding: 4em;
    box-shadow: 0 5px 15px  #0002;
    border-radius: 20px;
    position: relative;
}


.form-empleados > input, .form-rol > input, .form-usuarios > input {
    border: none;
    background: #eee;
    border-radius: 20px;
    padding: 1em 1.2em;
    width: 50%;
    outline: none;
}

.form-empleados h2, .form-rol h2, .form-usuarios h2, .form-register {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.form-empleados button, .boton-usuarios, .role-btn, .inner-container-agregar-empleado-proyecto button {
    border: none;
    outline: none;
    background: var(--blue);
    color: #fff;
    padding: .5em 3em;
    font-weight: bold;
    margin-top: 6rem;
    font-size: 1.7rem;
    border-radius: 40px;
    cursor: pointer;
    transition: transform .4s ease-in;
    box-shadow: 3px 8px #000;
    width: fit-content;
}

.form-empleados button:hover, .boton-usuarios:hover {
    transform: translateY(-10%) scale(1.01);
}

.empleados-container, .usuarios-container, .empleados-proyecto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;    
    margin-bottom: 47.3rem;
    width: 80%;
    flex-wrap: wrap;
    min-height: 20.6vh;
    gap: 2rem;
}

.empleado, .usuario, .empleados-proyecto > div {
    min-width: 280px;
    padding: 2em 3em;
    width: 30%;
    min-height: 190px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    background: var(--green);
    color: #fff;
    border-radius: 15px;
    position: relative;
}

.opciones {
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(4px);
    background: #00000025;
    padding: 2em;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    transition: opacity .4s ease-in-out;
}

.opciones .delete-empleado, .edit-empleado, .edit-usuario, .delete-usuario, .delete-empleado-proyecto { 
    border: 3px solid var(--danger);
    border-radius: 30px;
    padding: .4em .6em;
}

.delete-empleado i, .delete-usuario i, .delete-empleado-proyecto i {
    color: var(--danger);
    font-size: 1.5rem;
}

.edit-empleado, .edit-usuario  {
    border: 3px solid var(--blue);
}

.edit-empleado i, .edit-usuario i {
    color: var(--blue);
    font-size: 1.5rem;
}

.empleado:hover .opciones, .usuario:hover .opciones, .empleados-proyecto > div:hover .opciones {
    opacity: 1;
}

.opciones-empleado {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 4rem;
}
.opciones-empleado a, .new-empleado, .modificar-proyecto, .eliminar-proyecto {
    background-color: #fff;
    padding: 1em 2.5em;
    color: #000;
    border-radius: 25px;
    font-size: 1.2rem;
    box-shadow: inset 0 0 0 #0000, 6px 6px 15px 2px #0002;
    transition: all .3s ease-in;
    cursor: pointer;
    min-width: 290px;
    text-align: center;
}

.opciones-empleado a:hover, .new-empleado:hover, .modificar-proyecto:hover, .eliminar-proyecto:hover {
    box-shadow: inset 0 0 15px 2px #0002, 0 0 0 #0000;
}

.opciones-empleado a:active, .new-empleado:active, .modificar-proyecto:active, .eliminar-proyecto:active {
    box-shadow: inset 0 0 15px 7px #0002, 0 0 0 #0000;
}


/* -------------------- */

/* Botón de atrás */
.atras {
    font-size: 1.5rem;
    align-self: flex-start;
    margin-bottom: 1.5rem;
}
/* ------------------- */

/*PROYECTOS*/
.proyectos-titulo, .proyectos-empleado-titulo {
    text-align: center;
    margin-bottom: 2rem;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 45rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:hover {
    background: #eee;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
}

.empty-container {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50rem;
    gap: 1rem;
}

.empty-container a i {
    font-size: 5rem;
    color:#28a745
}

.empty-container h1 {
    text-align: center;
}

.empleados-proyecto > div > * {
    color: #fff;
}

.empleados-proyecto > div {
    gap: .5rem;
}


.pop-up-agregar-empleados-proyecto {
    position: fixed;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    transform: translateY(0);
    transition: opacity .3s, transform .4s ease-in-out;
}

.inner-container-agregar-empleado-proyecto {
    width: 90%;
    padding: 2em 4em; 
    min-height: 50%;
    gap: 1rem;
    box-shadow: 0 0 10px #00000025,
    0 0 0 2100px #0001;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: #ffffff10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container-agregar-empleado-proyecto a {
    align-self: flex-start;
    font-size: 2.5rem;
    cursor: pointer;
}

.inner-container-agregar-empleado-proyecto button {
    background: #28a745;
}

.agregar-empleado-proyecto {
    width: 90%;
    padding: 2em 4em; 
    min-height: 50%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.agregar-empleado-proyecto li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 1rem;
}

.agregar-empleado-proyecto li p {
    max-width: 50%;
    margin-right: auto;
    margin-left: .5rem;
}

.agregar-empleado-proyecto li input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.agregar-empleado-proyecto li h3, .agregar-empleado-proyecto li p {
    font-size: 1.5rem;
    font-weight: normal;
}

.agregar-empleado-proyecto li:first-child p, .agregar-empleado-proyecto li:first-child h3 {
    font-weight: bold;    
}

.container-checkbox {
    position: relative;
}

.container-checkbox label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.container-checkbox label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.container-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.container-checkbox input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
}

.container-checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.pop-up-agregar-empleados-proyecto.close {
    transform: translateY(7%);
    opacity: 0;
    z-index: -100;

}

.proyecto-empleado-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 4rem;
}

.proyecto-empleado-info > a {
    align-self: flex-start;
}

.opciones-proyecto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

.modificar-proyecto {
    color: var(--blue)
}

.eliminar-proyecto {
    color: var(--danger)
}

.new-empleado {
    color: var(--success);
}

/*--------------------*/


/* Vista adaptada para teléfonos */
@media (max-width: 815px) {
    .hamburger-menu.close + .header {
        transform: translateX(-100%);
        transition: transform .7s ease-in-out;
    }
    
    .hamburger-menu.close + .header .header-container .header-navbar {
        transform: translateX(-100%);
    } 

    .hamburger-menu.close + .header .header-container::after {
        transform: translateX(-120%);
        opacity: 0;
    }


    .header {
        width: 20%;
        min-width: 270px;
        min-height: 100vh;
        position: fixed;
        z-index: 100;
        top: 0;
        transform: translateX(0);
        transition: transform .7s ease-in-out;
    }
    
    .header-container::after {
        content: "";
        width: 200%;
        position: absolute;
        right: -200%;
        top: 0;
        height: 100%;
        backdrop-filter: blur(5px);
        transform: translateX(0);
        opacity: 1;
        z-index: -10;
        transition: all .7s ease-in-out;
    }
    
    .header-container {
        width: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        min-width: 250px;
        min-height: 100vh;
        justify-content: flex-start;
        flex-direction: column;
        padding: 1em 2em;
    }
    
    .header-navbar {
        flex-direction: column; 
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        transition: transform .7s ease-in-out;
    }
    
    .hamburger-menu {
        display: inline;        
    }
    
    .header-navbar-list, .sign-in-up {
        flex-direction: column;
        gap: 2rem;
    }
    
    .sign-in-up {
        margin-top: auto;
        width: 100%;
        height: 200px;
    }
    
    
    .header-navbar-list li:first-child {
        margin-bottom: 2.5rem;
        margin-top: 6rem;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .empleados-container, .usuarios-container, .empleados-proyecto {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 20rem;
        margin-top: 1rem
    }
    
    .form-rol, .form-empleados, .form-empleados input, .empleado, .usuario, .empleados-proyecto > div, .form-usuarios, .form-usuarios input, .form-usuarios .password-container {
        width: 80%;
    }

    .proyectos-titulo, .proyectos-empleado-titulo, .empleados-proyecto-empty {
       margin-top: 5rem;
    }   

    table {
        width: 98%;
    }
    
    .inner-container-agregar-empleado-proyecto {
        padding: 2em;
    }

    .agregar-empleado-proyecto {
        padding: 0;
        width: 100%;
    }
    .close-pop-up {
        margin-left: .6em;
    }

    .proyecto-empleado-info {
        width: 95%;
    }

    .opciones-proyecto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 900px) {
   .opciones-proyecto {
        flex-direction: column;
    }
}